[submodule "original-stylegan2-ada-pytorch"]
	path = original-stylegan2-ada-pytorch
	url = https://github.com/NVlabs/stylegan2-ada-pytorch.git
[submodule "original-stylegan2-ada"]
	path = original-stylegan2-ada
	url = https://github.com/NVlabs/stylegan2-ada-pytorch.git
